*{
	margin: 0;
	padding: 0;
}
.img{
	width: 100%;
}
.img>.img-center{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}
.img>.img-center>a>.a-img{
	position: absolute;
	bottom: 115px;
	right: 114px;
}
